{
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true
}
